
.jumbotron {
    margin-bottom: 10px;

    margin-top: 10px;
    background: #0044ff;
    background-image: url(./img/poolwater.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.2em 0.2em 0.2em;
}



.container {
	background: #4489ff;
	margin-top: 20px;
	border-radius: 6px;
}

.form-control {
	background: #ddddff;
}

.btn-danger {
	background: #9833ff;
}

.btn-primary {
	background: #0000ff;
}

.btn-warning{
	background: #4455fe;
}

.btn-warning:hover {
	background: #5577fa;
}

body {
	background: #aaaaff;
}